{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
    {#<h1>Participant edit</h1>#}

    {#{{ form_start(edit_form) }}#}
        {#{{ form_widget(edit_form) }}#}
        {#<input type="submit" value="Edit" />#}
    {#{{ form_end(edit_form) }}#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('participant_index') }}">Back to the list</a>#}
        {#</li>#}
        {#<li>#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Delete">#}
            {#{{ form_end(delete_form) }}#}
        {#</li>#}
    {#</ul>#}
{#{% endblock %}#}


{% extends 'LSBundle::layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block content %}


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Participant edit</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Update" class="btn btn-primary pull-right" />
            {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}
